nav {
    position: fixed;
    margin-bottom: 1rem;
    z-index: 1000;
   
   
    
}
.navbar{
    box-shadow: none;
    background: #FFFFFF;
    padding: 10px 2rem;
    align-items: center;
    width: 100%;
    display: flex;
    /* margin: 10px 0; */
}

.navbar ul {
    width: 100%;
    align-items: center;
   
}


.navbar ul li {
    margin-right: 30px;
    display: inline-block;
}

.navbar ul li a {
    color: #091E42;
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
}

#mlogo {
    background-color:#0052CC ;
    display: none;
   
}

#menuicon{
    display: none;
}

.logo {
    display: flex;
    margin:0 20px 0 100px;
    align-items: center;
    overflow: hidden;
}

nav button {
    display: flex;
    border: none;
    color: #A5ADBA;
    height: 30px;
    background-color: #FFFFFF;
    flex-direction: row;
    align-items: center;
    padding: 5px 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    /* margin-left: auto; */
    /* box-shadow: 3px 1px whitesmoke; */
}
.btn{
    margin-left: auto;
    display: flex;
    margin-right: 2%;
}
.btn Link{
    padding: 5px 12px;
    height: 20px;
}
#signin {
    background: #0052CC;
    border-radius: 4px;
    color: #FFFFFF;
    padding:8px 22px;
    /* height: 50px; */
}
#signup{
    border-radius: 4px;
    color: #FFFFFF;
    padding:8px 22px;
    color: #A5ADBA;
    /* height: 50px; */
}

.checkbtn{
    float: right;
    display: none;

}

#check{
    display: none;
}
.closebtn{
    display: none;
}
@media screen and (max-width: 600px)  {
    .navbar{
        flex-direction: column;
        padding: 5px 0.6rem;
        align-items: flex-start;
        margin-bottom: 0;
        height: fit-content;
    }
    .checkbtn{
        display: initial;
    }
    .buttons-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        -webkit-transform:  rotate(180deg);
        transform:  rotate(180deg);
    }
    .logo {
        display: flex;
        margin:0 20px 0 5px;
        padding-top: 10px;
        align-items: center;
        overflow: hidden;
    }

    .myul{
        margin-top: 4rem;
    }
    #wlogo{
        display: none;
    }
    #mlogo{
        display: block;
    }

    .logo{
        width: 100%;
    }
    
    .menu-content {
        display: flex;
        flex-direction: row;
    }

    .navbar ul li {
       display: block; 
       padding: 10px 0;
      
    }
    .btn {
        width: 100%;
        text-align: center;
    }
    #signup,#signin{
        display: block;
        width: 100%;
        margin-bottom: 10px;
        -webkit-transform:  rotate(-180deg);
        transform:  rotate(180deg);
        
    }
    .checkbtn,.closebtn{
        margin-left: auto;
        position:absolute;
        right: 20px;
    }
    #signup{
        background: #F4F5F7;
        
    }
    #check:checked ~ .checked {
        display: block;

    }
    #check:checked ~ .checkbtn{
        display: none;
    }
    #check:checked ~ .closebtn{
        display: block;
    }
}

  